// @mixin flex () {
//     display: flex;   
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }

// .container{
//     @include flex();
// }

@mixin desktop() {
    @media (min-width: 800px) {
      @content;
    }
  }
  
//   .button {
//     transition: 0.3s;
//     @include desktop() {
//       &:hover {
//         transform: translateY(-2px);
//       }
//     }
//   }

@mixin container($max-width:1376px ,$padding : 40px) {
  width: 100%;
  max-width: $max-width;
  padding: 0 $padding;
  margin:  0 auto;
}
