@import "~/src/styles/mixins";


$headerHeight:100px;
$footerHeight:100px;

.main{
    min-height: calc(var(--height,100vh) - $headerHeight - $footerHeight);

    .container{
        @include container();
    }
}

.header{
    background-color: greenyellow;
    height:$headerHeight;
}
.footer{
    // background-color: greenyellow;
    height: $footerHeight;
}