.nav{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: aliceblue;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid aliceblue;
}
.header{
    font-size: 30px;
    font-weight: 600;
}
.link{
    color: aliceblue;
}